<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="mysql">
        <!--名字随便起，默认使用的环境为id为某个的环境-->
        <environment id="mysql">
            <transactionManager type="JDBC"/>
            <!--指定事务管理方式-->
            <dataSource type="POOLED">
                <!--表示采用连接池的管理方式-->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--映射文件-->
        <mapper resource="UserMapper.xml"/>
    </mappers>
</configuration>